/Proyectos/Unidad_1/Tareas/07Tarea/nbproject/private/
/Proyectos/Unidad_1/Tareas/07Tarea/build/
/Proyectos/Unidad_1/Tareas/08TareaCalculadora/nbproject/private/
/Proyectos/Unidad_1/Tareas/08TareaCalculadora/build/
/Proyectos/Unidad_1/Tareas/08TareaCalculadora/dist/
/Proyectos/Unidad_1/Tareas/09TareaColor/nbproject/private/
/Proyectos/Unidad_1/Tareas/09TareaColor/build/
/Proyectos/Unidad_1/Tareas/09TareaColor/dist/
/Proyectos/Unidad_1/Tareas/10TareaPrinter/nbproject/private/
/Proyectos/Unidad_1/Tareas/10TareaPrinter/build/
/Proyectos/Unidad_1/Tareas/10TareaCirculosConcentricos/nbproject/private/
/Proyectos/Unidad_1/Tareas/10TareaCirculosConcentricos/build/
/Proyectos/Unidad_1/Tareas/12TareaSpyral/nbproject/private/
/Proyectos/Unidad_1/Tareas/11TareaCirculosConcentricos/nbproject/private/
