/Proyectos/Unidad_2/01Contadores/nbproject/private/
/Proyectos/Unidad_2/01Contadores/build/
/Proyectos/Unidad_2/02HilosContadores/nbproject/private/
/Proyectos/Unidad_2/02HilosContadores/build/
/Proyectos/Unidad_1/Tareas/15TareaConversorTemperatura/build/
/Proyectos/Unidad_1/Tareas/MVCTareas/nbproject/private/
/Proyectos/Unidad_1/Tareas/MVCTareas/build/
/Proyectos/Unidad_1/Tareas/MVCTareas/dist/
/Proyectos/Unidad_1/Tareas/T07/build/
/Proyectos/Unidad_1/Tareas/T15ConversorTemperatura/build/
/Proyectos/Unidad_1/Tareas/T16CirculoRadioAleatorio/nbproject/private/
/Proyectos/Unidad_1/Tareas/T16CirculoRadioAleatorio/build/
/Proyectos/Unidad_1/Tareas/T14DiseñoVector/build/
/Proyectos/Unidad_1/Tareas/T14DiseñoVector/dist/
/Proyectos/Unidad_1/Tareas/T07GridLayout/dist/
/Proyectos/Unidad_1/Tareas/T07GridLayout/build/
/Proyectos/Unidad_1/Tareas/T08Calculadora/build/
/Proyectos/Unidad_1/Tareas/T08Calculadora/dist/
/Proyectos/Unidad_1/Tareas/T09Color/build/
/Proyectos/Unidad_1/Tareas/T09Color/dist/
/Proyectos/Unidad_1/Tareas/T10Printer/build/
/Proyectos/Unidad_1/Tareas/T10Printer/dist/
/Proyectos/Unidad_1/Tareas/T11CirculosConcentricos/dist/
/Proyectos/Unidad_1/Tareas/T11CirculosConcentricos/build/
/Proyectos/Unidad_1/Tareas/T12Spyral/dist/
/Proyectos/Unidad_1/Tareas/T12Spyral/build/
/Proyectos/Unidad_1/Tareas/T13Habitacion/dist/
/Proyectos/Unidad_1/Tareas/T13Habitacion/build/
/Proyectos/Unidad_1/Tareas/T15ConversorTemperatura/dist/
/Proyectos/Unidad_1/Tareas/T16CirculoRadioAleatorio/dist/
/Proyectos/Unidad_1/Tareas/T17CirculoJSlider/nbproject/private/
/Proyectos/Unidad_1/Tareas/T17CirculoJSlider/build/
/Proyectos/Unidad_1/Tareas/T17CirculoJSlider/dist/
/Proyectos/Unidad_1/Tareas/T18GraficaPastelArchivos/nbproject/private/
/Proyectos/Unidad_1/Tareas/T19GraficasArchivos/nbproject/private/
/Proyectos/Unidad_1/Tareas/T18GraficaPastelArchivos/build/
/Proyectos/Unidad_1/Tareas/03HilosContadoresGraficos/nbproject/private/
/Proyectos/Unidad_1/Tareas/03HilosContadoresGraficos/build/
/Proyectos/Unidad_1/Tareas/T19TrianguloInscritoCirculo/nbproject/private/
/Proyectos/Unidad_1/Tareas/T19TrianguloInscritoCirculo/build/
/Proyectos/Unidad_1/Tareas/T19TrianguloInscritoCirculo/dist/
