/Proyectos/Unidad_1/09Editor/nbproject/private/
/Proyectos/Unidad_1/09Editor/build/
/Proyectos/Unidad_1/09Editor/dist/
/Proyectos/Unidad_1/08Dibujo/dist/
/Proyectos/Unidad_1/10Poligono/nbproject/private/
/Proyectos/Unidad_1/10Poligono/build/
